*{
   cursor:url("./520/1.ico"),auto;
}
body{margin:0;padding:0;background:#f3e9e6;font-size:14px;font-family:'微软雅黑','微软雅黑',sans-serif;color: #FFBCC1;overflow:auto}
a {color:#000;font-size:14px;}
#main{width:100%;}
#wrap{position:relative;margin:0 auto;width:1100px;height:680px;margin-top:10px;}
#text{width:400px;height:600px;left:30px;top:30px;position:absolute;line-height: 21px;}
#code{display:none;font-size:16px;}
#clock-box {position:absolute;left:60px;top:580px;font-size:18px;display:none;}
#clock-box a {font-size:18px;text-decoration:none;}
#clock{margin-left:48px;}
#clock .digit {font-size:50px;}
#canvas{margin:0 auto;width:1100px;height:680px;}
#error{margin:0 auto;text-align:center;margin-top:60px;display:none;}
.hand{cursor:pointer;}
.say{margin-left:5px;}
.space{margin-right:150px;}

.btn{
    width: 130px;
    height: 80px;
    background: radial-gradient(circle, rgba(247, 150, 192, 1) 0%, rgba(118, 174, 241, 1) 100%);
    border: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    line-height: 75px;
}
.btn span{
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}
.btn:hover{
    background: transparent;
    color: #76aef1;
}
.btn::before,
.btn::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    box-shadow:
    -1px -1px 20px 0px rgba(255, 255, 255, 1),
    -4px -4px 5px 0px rgba(255, 255, 255, 1),
    10px 10px 20px 0px rgba(0, 0, 0, .4),
    6px 6px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.8s ease;
    padding: 0;
}
.btn::before{
    top: 0;
    right: 0;
}
.btn::after{
    bottom: 0;
    left: 0;
}
.btn:hover::before,
.btn:hover::after{
    height: 100%;
}
.btn span::before,
.btn span::after{
    position:absolute;
    content: '';
    height: 1px;
    width: 0px;
    box-shadow:
    -1px -1px 20px 0px rgba(255, 255, 255, 1),
    -4px -4px 5px 0px rgba(255, 255, 255, 1),
    10px 10px 20px 0px rgba(0, 0, 0, .4),
    6px 6px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.8s ease;
}
.btn span::before{
    top:0;
    left: 0;
}
.btn span::after{
    bottom: 0;
    right: 0;
}
.btn span:hover::before,
.btn span:hover::after{
    width: 100%;
}

